.grid-parent {
    display: grid;

    grid-template-areas:"grid-child-1";
    grid-child-2
}

.grid-parent > .grid-child-1{
    grid-area: ;
}

.grid-parent > .grid-child-2{
    grid-area: ;
}
.grid-parent > .grid-child-3{
    grid-area: content2;
}
.grid-parent > .grid-child-4{
    grid-area: content3;
}
.grid-parent > .grid-child-5{
    grid-area: footer;
}
