
.menu-icon{
    color: cadetblue;
}

/*Desgradados o gradientes de color*/

[clas^="gradient"] {
    height: 500px;
    margin-bottom:10px
}

.gradient-1{
    background: linear-gradient(to right,darkblue,white);
}

.gradient-2 {
    background: linear-gradient(to bottom, white, darkblue 20%, white);
}

.gradient-3 {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url();
    background-size: cover;
}

.gradient-4 {
    background: radial-gradient(white,tomato,red);
    width: 50%;
    box-shadow: 5px 5px 15px black;
}

.transform{
    height: 100px;
    width:100px;
    background-color: #333;

    transform: translate(300px, -20px) rotate(45deg) scale(0.8) skewX(25deg);
}

/*transiciones*/

.transitions{
    height: 100px;
    width:100px;
    margin-left: 100px;
    background-color:#008b8b;    
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
/* 
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
 */
    transition: all 0.5s ease-in;
}

.transitions:hover{
    transform: scale(1.3) rotate(3deg);
}


/* Animaciones*/

.text-animation{
    animation-name: slidein;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background:
}
@keyframes slidein{
    from {
         margin-left: 100%;   
    }
    
    20%{
        color:rgb(89, 117, 31);
    }

    to {
        margin-left: 0%;
    } 


}