div{
    background-color: #ccc;
    width: 20%;
    height: 20px;
    border: 1px;
    border-style:groove;
    Padding: 5px;
}

span#previous{
    margin-left: 1%;
    
}

span#next{ 
    float: right ;                                                                                                                                     
    margin-right: 1%;
}